[class*="vcon-"]{
    display:inline-block;
    box-sizing:border-box;
    font-size:50px;
    width:1em;
    height:1em;
    color:#979797;
    position:relative;
}
[class*="vcon-"]:before,
[class*="vcon-"]:after{
    content:"";
    display:inline-block;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
        -ms-transform:translate(-50%,-50%);
            transform:translate(-50%,-50%);
}

.vcon-close:before,
.vcon-close:after,
.vcon-left:before,
.vcon-left:after,
.vcon-right:before,
.vcon-right:after,
.vcon-up:before,
.vcon-up:after,
.vcon-down:before,
.vcon-down:after{
    width:.1em;
    height:.1em;
    background:#979797;
    -webkit-transform:translate(-50%,-50%) rotateZ(45deg);
        -ms-transform:translate(-50%,-50%) rotate(45deg);
            transform:translate(-50%,-50%) rotateZ(45deg);
    border-radius:.05em;
}
.vcon-close:before{
    width:1em;
}
.vcon-close:after{
    height:1em;
}
.vcon-left:before{
    top:65%;
    width:.5em;
}
.vcon-left:after{
    top:35%;
    height:.5em;
}
.vcon-right:before{
    top:35%;
    width:.5em;
}
.vcon-right:after{
    top:65%;
    height:.5em;
}
.vcon-up:before{
    left:65%;
    width:.5em;
}
.vcon-up:after{
    left:35%;
    height:.5em;
}
.vcon-down:before{
    left:35%;
    width:.5em;
}
.vcon-down:after{
    left:65%;
    height:.5em;
}

.vcon-dots:after{
    width:.2em;
    height:.2em;
    background:#979797;
    box-shadow:.4em 0 #979797,-.4em 0 #979797;
    border-radius:50%;
}

.vcon-refresh,
.vcon-refresh2{
    width:.9em;
    height:.9em;
    border:.12em solid;
    border-radius:50%;
    border-color:#979797 transparent;
}
.vcon-refresh:before,
.vcon-refresh:after{
    width:0;
    height:0;
    border:.2em solid;
    border-color:#979797 transparent transparent;
}
.vcon-refresh:before{
    -webkit-transform:translate(-150%,-10%) rotateZ(135deg);
        -ms-transform:translate(-150%,-10%) rotate(135deg);
            transform:translate(-150%,-10%) rotateZ(135deg);
}
.vcon-refresh:after{
    -webkit-transform:translate(50%,-80%) rotateZ(-45deg);
        -ms-transform:translate(50%,-80%) rotate(-45deg);
            transform:translate(50%,-80%) rotateZ(-45deg);
}
.vcon-refresh2:before{
    width:.12em;
    height:.12em;
    border-radius:50%;
    -webkit-transform:translate(-50%,-50%) rotateZ(45deg);
        -ms-transform:translate(-50%,-50%) rotate(45deg);
            transform:translate(-50%,-50%) rotateZ(45deg);
    box-shadow:.39em 0 #979797,-.39em 0 #979797,0 .39em #979797,0 -.39em #979797;
}
.vcon-refresh2:after{
    height:.5em;
    width:0;
    border-width:.2598em .15em;
    border-style:solid;
    border-color:#979797 transparent;
    -webkit-transform:translate(-50%,-50%) rotateZ(50deg);
        -ms-transform:translate(-50%,-50%) rotate(50deg);
            transform:translate(-50%,-50%) rotateZ(50deg);
}

.vcon-done-l{
    border:1px solid #c1c2c3;
    border-radius:50%;
    font-size:200px;
}
.vcon-done-l:before{
    width:.55em;
    height:.55em;
    box-sizing:border-box;
    border-radius:50%;
    border:.035em solid #e4007f;
    border-right-color:transparent;
}
.vcon-done-l:after{
    width:.0345em;
    height:.0345em;
    border-radius:50%;
    box-shadow:.258em 0 #e4007f,.258em .008em #e4007f,.257em .015em #e4007f,.257em .022em #e4007f,.256em .028em #e4007f,.255em .035em #e4007f
    ,.255em .04em #e4007f,.254em .045em #e4007f,.253em .05em #e4007f,.252em .058em #e4007f,.25em .065em #e4007f,.25em .065em #e4007f,.247em .075em #e4007f
    ,.244em .085em #e4007f,.24em .095em #e4007f,.237em .105em #e4007f,.234em .11em #e4007f,.229em .12em #e4007f,.222em .13em #e4007f,.22em .135em #e4007f
    ,.216em .14em #e4007f,.21em .15em #e4007f,.202em .16em #e4007f,.194em .17em #e4007f,.185em .18em #e4007f
    ,.181em -.182em #e4007f
    ,-.06em .11em #e4007f,-.055em .105em #e4007f,-.05em .1em #e4007f,-.045em .095em #e4007f,-.04em .09em #e4007f,-.035em .085em #e4007f
    ,-.03em .08em #e4007f,-.025em .075em #e4007f,-.02em .07em #e4007f,-.015em .065em #e4007f,-.01em .06em #e4007f,-.005em .055em #e4007f,0 .05em #e4007f
    ,.005em .045em #e4007f,.01em .04em #e4007f,.015em .035em #e4007f,.02em .03em #e4007f,.025em .025em #e4007f,.03em .02em #e4007f,.035em .015em #e4007f
    ,.04em .01em #e4007f,.045em .005em #e4007f,.05em 0 #e4007f,.055em -.005em #e4007f,.06em -.01em #e4007f,.065em -.015em #e4007f,.07em -.02em #e4007f
    ,.075em -.025em #e4007f,.08em -.03em #e4007f,.085em -.035em #e4007f,.09em -.04em #e4007f,.095em -.045em #e4007f,.1em -.05em #e4007f,.105em -.055em #e4007f
    ,.11em -.06em #e4007f,.115em -.065em #e4007f,.12em -.07em #e4007f,.125em -.075em #e4007f,.13em -.08em #e4007f,.135em -.085em #e4007f
    ,-.065em .11em #e4007f,-.07em .105em #e4007f,-.075em .1em #e4007f,-.08em .095em #e4007f,-.085em .09em #e4007f,-.09em .085em #e4007f
    ,-.095em .08em #e4007f,-.1em .075em #e4007f,-.105em .07em #e4007f,-.11em .065em #e4007f,-.115em .06em #e4007f,-.12em .055em #e4007f,-.125em .05em #e4007f
    ,-.13em .045em #e4007f,-.135em .04em #e4007f,-.14em .035em #e4007f,-.145em .03em #e4007f,-.15em .025em #e4007f,-.155em .02em #e4007f,-.16em .015em #e4007f;
}

.vcon-fail-l{
    border:1px solid #c1c2c3;
    border-radius:50%;
    font-size:200px;
}
.vcon-fail-l:before{
    width:.55em;
    height:.55em;
    box-sizing:border-box;
    border-radius:50%;
    border:.035em solid #979797;
    border-right-color:transparent;
}
.vcon-fail-l:after{
    width:.0345em;
    height:.0345em;
    border-radius:50%;
    background: #979797;
    box-shadow:.258em 0 #979797,.258em .008em #979797,.257em .015em #979797,.257em .022em #979797,.256em .028em #979797,.255em .035em #979797
    ,.255em .04em #979797,.254em .045em #979797,.253em .05em #979797,.252em .058em #979797,.25em .065em #979797,.25em .065em #979797,.247em .075em #979797
    ,.244em .085em #979797,.24em .095em #979797,.237em .105em #979797,.234em .11em #979797,.229em .12em #979797,.222em .13em #979797,.22em .135em #979797
    ,.216em .14em #979797,.21em .15em #979797,.202em .16em #979797,.194em .17em #979797,.185em .18em #979797
    ,.181em -.182em #979797
    ,.005em .005em #979797,.01em .01em #979797,.015em .015em #979797,.02em .02em #979797,.025em .025em #979797,.03em .03em #979797
    ,.035em .035em #979797,.04em .04em #979797,.045em .045em #979797,.05em .05em #979797,.055em .055em #979797,.06em .06em #979797,.065em .065em #979797
    ,.07em .07em #979797,.075em .075em #979797,.08em .08em #979797,.085em .085em #979797,.09em .09em #979797,.095em .095em #979797,.1em .1em #979797
    ,-.005em -.005em #979797,-.01em -.01em #979797,-.015em -.015em #979797,-.02em -.02em #979797,-.025em -.025em #979797,-.03em -.03em #979797
    ,-.035em -.035em #979797,-.04em -.04em #979797,-.045em -.045em #979797,-.05em -.05em #979797,-.055em -.055em #979797,-.06em -.06em #979797,-.065em -.065em #979797
    ,-.07em -.07em #979797,-.075em -.075em #979797,-.08em -.08em #979797,-.085em -.085em #979797,-.09em -.09em #979797,-.095em -.095em #979797,-.1em -.1em #979797
    ,.005em -.005em #979797,.01em -.01em #979797,.015em -.015em #979797,.02em -.02em #979797,.025em -.025em #979797,.03em -.03em #979797
    ,.035em -.035em #979797,.04em -.04em #979797,.045em -.045em #979797,.05em -.05em #979797,.055em -.055em #979797,.06em -.06em #979797,.065em -.065em #979797
    ,.07em -.07em #979797,.075em -.075em #979797,.08em -.08em #979797,.085em -.085em #979797,.09em -.09em #979797,.095em -.095em #979797,.1em -.1em #979797
    ,-.005em .005em #979797,-.01em .01em #979797,-.015em .015em #979797,-.02em .02em #979797,-.025em .025em #979797,-.03em .03em #979797
    ,-.035em .035em #979797,-.04em .04em #979797,-.045em .045em #979797,-.05em .05em #979797,-.055em .055em #979797,-.06em .06em #979797,-.065em .065em #979797
    ,-.07em .07em #979797,-.075em .075em #979797,-.08em .08em #979797,-.085em .085em #979797,-.09em .09em #979797,-.095em .095em #979797,-.1em .1em #979797
    ;
}

