[class*="vcon-"]{
    display:inline-block;
    box-sizing:border-box;
    font-size:50px;
    width:1em;
    height:1em;
    color:#979797;
    position:relative;
}
[class*="vcon-"]:before,
[class*="vcon-"]:after{
    content:"";
    display:inline-block;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.vcon-close:before,
.vcon-close:after,
.vcon-left:before,
.vcon-left:after,
.vcon-right:before,
.vcon-right:after,
.vcon-up:before,
.vcon-up:after,
.vcon-down:before,
.vcon-down:after{
    width:.1em;
    height:.1em;
    background:#979797;
    transform:translate(-50%,-50%) rotateZ(45deg);
    border-radius:.05em;
}
.vcon-close:before{
    width:1em;
}
.vcon-close:after{
    height:1em;
}
.vcon-left:before{
    top:65%;
    width:.5em;
}
.vcon-left:after{
    top:35%;
    height:.5em;
}
.vcon-right:before{
    top:35%;
    width:.5em;
}
.vcon-right:after{
    top:65%;
    height:.5em;
}
.vcon-up:before{
    left:65%;
    width:.5em;
}
.vcon-up:after{
    left:35%;
    height:.5em;
}
.vcon-down:before{
    left:35%;
    width:.5em;
}
.vcon-down:after{
    left:65%;
    height:.5em;
}

.vcon-dots:after{
    width:.2em;
    height:.2em;
    background:#979797;
    box-shadow:.4em 0 #979797,-.4em 0 #979797;
    border-radius:50%;
}

.vcon-refresh,
.vcon-refresh2{
    width:.9em;
    height:.9em;
    border:.12em solid;
    border-radius:50%;
    border-color:#979797 transparent;
}
.vcon-refresh:before,
.vcon-refresh:after{
    width:0;
    height:0;
    border:.2em solid;
    border-color:#979797 transparent transparent;
}
.vcon-refresh:before{
    transform:translate(-155%,-15%) rotateZ(135deg);
}
.vcon-refresh:after{
    transform:translate(50%,-80%) rotateZ(-45deg);
}
.vcon-refresh2:before{
    width:.12em;
    height:.12em;
    border-radius:50%;
    transform:translate(-50%,-50%) rotateZ(45deg);
    box-shadow:.39em 0 #979797,-.39em 0 #979797,0 .39em #979797,0 -.39em #979797;
}
.vcon-refresh2:after{
    height:.5em;
    width:0;
    border-width:.2598em .15em;
    border-style:solid;
    border-color:#979797 transparent;
    transform:translate(-50%,-50%) rotateZ(50deg);
}

.vcon-done{
    border:1px solid #c1c2c3;
    border-radius:50%;
    font-size:100px;
}
.vcon-done:before{
    width:.55em;
    height:.55em;
    box-sizing:border-box;
    border-radius:50%;
    border: .05em solid #e4007f;
    border-right-color:transparent;
}
.vcon-done:after{
    width:.05em;
    height:.05em;
    border-radius:50%;
    box-shadow:.25em 0 #e4007f,.25em .01em #e4007f,.25em .015em #e4007f,.249em .03em #e4007f,.248em .04em #e4007f,.246em .05em #e4007f
    ,.245em .06em #e4007f,.242em .07em #e4007f,.239em .08em #e4007f,.235em .09em #e4007f,.231em .1em #e4007f,.226em .11em #e4007f
    ,.221em .12em #e4007f,.215em .13em #e4007f,.209em .14em #e4007f,.202em .15em #e4007f,.193em .16em #e4007f,.183em .17em #e4007f
    ,.175em -.178em #e4007f;
}